@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* univarsal select */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}


/* header style */

.container {
    width: 80%;
    max-width: 1320px;
    margin: 50px auto;
}

.banner-main {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    text-align: center;
    margin-top: 50px;
}

.banner-main-text {
    max-width: 632px;
    text-align: center;
    margin: 0px auto;
}

.banner-main-text h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-main-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 177px;
}

/* happy-new-year section style */

.happy-new-year-main {
    text-align: center;
    margin: 100px auto;
    max-width: 1320px;
}

.happy-new-year-content h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}

.happy-new-year-content h3,
.h3-slogan {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
}

.happy-new-year-content h2 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}



/* midnight-party section style */

.midnight-party-main {
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
    border-radius: 16px;
    margin-top: 100px;
    /* justify-content: space-around; */
}

.midnight-party-text {
    flex-grow: 1;
    text-align: left;
    max-width: 642px;
    padding-left: 126px;
}

.midnight-party-text h1 {
    max-width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 126px;


}

.midnight-party-text p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;

}

.midnight-party-main-button button {


    background: none;
    display: inline-flex;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    transition: all 1s;

}

.midnight-party-main-button button span {

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.midnight-party-main-button button:hover {
    border-radius: 8px;
    background: #2ab875;
}

.midnight-party-main-button {
    padding-top: 48px;
    padding-left: 32px;
}

.midnight-party-text h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 48px;
    padding-left: 32px;
}


.midnight-party-img img {
    width: 100%;
    mix-blend-mode: lighten;
    padding-top: 65px;
    padding-left: 40px;
    /* padding-bottom: 40px;     */

}

/* Address Section style  */

.address-main {
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 16px;
    text-align: center;
    margin-top: 100px;


}

.address-main-text {
    max-width: 550px;
    margin: 0 auto;
    padding: 100px 380px;
}

.address-main-text h3 span {
    color: #F00;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
}

.address-main-text h3 {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;

}

.address-main-text button {

    border-radius: 8px;
    background: #F00;
    display: inline-flex;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

.address-main-text button span {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.address-main-text button:hover {
    background: #2ab875;
}

.address-main-button {
    padding-top: 64px;
}

/* ComingSoon Section style*/

.comingsoon-main {
    display: flex;
    margin-top: 100px;
    gap: 10px;
}

.comingsoon-left-text {
    max-width: 400px;
    text-align: left;
    margin: 0 auto;
    padding-top: 100px;
    padding-right: 70px;
}

.comingsoon-left-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.comingsoon-left-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;


}

.comingsoon-left-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;

}

.comingsoon-middle {
    border-radius: 463px;
    border: 15px solid #F00;

}

.comingsoon-middle-img img {
    width: 364.844px;
    height: 364.844px;
    flex-shrink: 0;
    padding: 25px;

}

.comingsoon-right-text {
    max-width: 350px;
    text-align: left;
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 108px;

}

.comingsoon-right-text h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.comingsoon-right-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-top: 16px;
}

.comingsoon-right-text-img {
    width: 100%;
    padding-top: 43px;
}

/* Holiday Sale Style */

.holiday-sale-text {
    text-align: center;
    margin-top: 100px;
}

.holiday-sale-text h3 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.holiday-sale-text h1 span {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday-sale-text h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 28px;
}


.holiday-sale-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    padding: 0px 64px 126px 126px;
}

.holiday-sale-img {
    display: flex;
    background-color: #fff8f3;
    background-image: url('../images/Rectangle\ 2.png'), url('../images/Rectangle\ 1.png');
    background-position: bottom left, top right;
    background-repeat: no-repeat;
}


.holiday-sale-img-right img {
    padding-top: 50px;
    padding-right: 222px;

}


/* portfolio style */

.portfolio-main {
    margin-top: 100px;
}

.portfolio-text {
    text-align: left;
}

.portfolio-text h3 {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;

}

.portfolio-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;

}

.portfolio-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;

}

.portfolio-img-top {
    display: flex;
    gap: 24px;
    padding-bottom: 24px;
}

.portfolio-img-bottom {
    display: flex;
    gap: 24px;
}

.portfolio-img img {
    width: 424px;
    height: 450px;
    flex-shrink: 0;
}

/* Adding hovering effect on image */
.grow img {
    transition: 1s ease;
    cursor: pointer;
}

.grow img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;

}


/* Subscribe Newsletter  style */
#newsletter {
    margin: 100px 0;
}

.newsletter-main {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    padding: 122px 0;
}



.newsletter-text h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-top: 40px;
}

.newsletter-text p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 22px 212px 48px 212px;

}

#newsletter form {
    max-width: 650px;
    margin: 20px auto;
    display: flex;

}

#newsletter form input {
    flex-grow: 1;
    border: none;
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    padding: 25px;
    font-size: 18px;
    font-family: Inter;
    outline: none;
}

#newsletter form button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    display: inline-flex;
    padding: 24px 40px;
    border: none;
    cursor: pointer;
    transition: all 1s;
}

#newsletter form button span {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;

}

#newsletter form button:hover {
    background: #2ab875;
}


/* Footer Style */


footer {
    background: #FFF8F3;
    background: #070211;
    margin-top: 100px; 
    text-align: center;   
    /* padding: 130px 140px; */
}

.footer-row-top {
    display: flex;
    justify-content: space-around;
    padding-top: 120px;
}


.footer-row-top-left {
    max-width: 375px;

}

.footer-row-top-left h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.call-img {
    display: flex;
}

.call-img a {
    padding-right: 16px;
}

.footer-row-top-right h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
}

.footer-row-middle {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.footer-row-middle .social-links img {
    padding-right: 24px;
}

.footer-hr-div {
    margin: 50px 240px;
    width: 80%;    
    text-align: center;
}

.footer-hr {
    background: rgba(255, 255, 255, 0.15);
    text-align: center;
}

.footer-row-bottom{
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.footer-row-bottom-left h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    

}

.footer-row-bottom-right h4 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
}

.footer-row-bottom-right button {


    background: none;
    display: inline-flex;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    transition: all 1s;

}

.footer-row-bottom-right button span {

    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

.footer-row-bottom-right button:hover {
    border-radius: 8px;
    background: #2ab875;
}
