@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* univarsal select */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}


/* header style */

.container {
    width: 80%;
    max-width: 1320px;
    margin: 100px auto;
}

.banner-main {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    /* height: 600px; */
    text-align: center;
    margin-top: 50px;
}



.banner-main-text {
    max-width: 632px;
    text-align: center;
    margin: 0px auto;
}

.banner-main-text h3 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.banner-main-text h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    padding-top: 16px;
    padding-bottom: 177px;
}

/* happy-new-year section style */

.happy-new-year-main {
    text-align: center;
    margin: 100px auto;
    max-width: 1320px;
}

.happy-new-year-content h1 {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    padding-bottom: 48px;
}

.happy-new-year-content h3,
.h3-slogan {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 25px;
}

.happy-new-year-content h2 {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}



/* midnight-party section style */

.midnight-party-main {
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Vectorrr.png');
}

.midnight-party-text {
    text-align: left;
    max-width: 642px;
    padding-left: 126px;
}

.midnight-party-text h1 {
    max-width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;    
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-top: 126px;

}

.midnight-party-text p {
    max-width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;

}

.midnight-party-text h4 {
    color: #FFF;   
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 48px;
    padding-left: 32px;
}

.midnight-party-img img{
    width: 100%;
    mix-blend-mode: lighten;
}